dyddhksdl1@gachon.ac.kr-2026-06-19T07_32_24.225Z.pem
.DS_Store
.oci

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc